################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite-journal
*.suo
*.sqlite
VSWorkspaceState.json
project-colors.json
